.doctor__card {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  transition: all 0.3s linear;
  cursor: pointer;
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &:hover {
    transform: translateY(-5px);
  }
  .ant-card-body {
    padding: 15px 10px 20px;
    text-align: center;
  }
}
