.spin-wrapper {
}
.booking-modal {
  width: 100% !important;
  max-width: 800px !important;
  position: relative;
  .ant-modal-content {
    .header {
      width: 100%;
      padding: 20px 10px;
      border-bottom: 1px solid gray;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
  form {
    width: 100%;
    .ant-form-item {
      margin-bottom: 10px;
      .ant-form-item-label {
        text-align: left;
      }
      label {
        width: 105px !important;
        // text-align: left;
      }
      .flatpickr-input {
        width: 100%;
        padding: 4px 11px;
      }
    }
    .reason-booking {
      display: flex;
      flex-direction: column;
      .ant-form-item-control,
      .ant-form-item-control-input {
        width: 100%;
        max-width: 100% !important;
      }
      .ant-form-item-label {
        width: fit-content !important;
      }
      label {
        width: unset !important;
      }
      .ant-form-item-control-input-content {
        width: 100%;
        textarea {
          width: 100%;
        }
      }
    }
  }
  .payment-root {
    display: block;
  }
  .payment-root.active {
    display: none;
  }
}
