.manage-schedule {
  .choose-time-item {
    width: 200px;
    padding: 8px 15px;
    border: 1px solid gray !important;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;

    &.active {
      background: rgb(69, 195, 210);
      color: white;
    }
  }
}
