.title-user {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  color: #04aa6d;
}

.btn-add {
  width: auto;
  height: 5rem;
  font-size: 1.4rem;
  padding: 0 3rem;
  margin-left: 30px;
}

.users-table {
  padding: 20px 10px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
}

button.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: rgba(255, 166, 0, 0.74);
  font-size: 2rem;
  &:hover {
    background-color: transparent !important;
    color: orange;
  }
}

button.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: rgba(255, 0, 0, 0.719);
  font-size: 20px;

  &:hover {
    background-color: transparent !important;
    color: rgba(255, 0, 0, 1);
  }
}

.modal-user-container {
  .modal-user-body {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 49%;
      &.max-width {
        width: 100%;
      }
      input {
        border: 0.5px solid gray;
        border-radius: 4px;
        outline: none;
        height: 30px;
        padding: 0 10px;
      }
    }
  }

  .modal-content {
    .modal-header {
      button {
        background-color: transparent;
        color: white;
        font-size: 35px;
        border: none;
        font-weight: bold;
      }

      button:hover {
        color: rgba(228, 8, 8, 0.87);
      }
    }
  }

  .button {
    width: auto;
    height: auto;
    padding: 5px 20px;
    font-size: 1.4rem;
  }
}
