.detail-specialty {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  font-size: 1.6rem;
  .banner {
    width: 100%;
    height: auto;
    padding: 1rem 15rem;
    line-height: 2;
    background-color: white;
    min-height: 50rem;
    margin-top: 2rem;

    h2 {
      font-size: 3rem;
    }

    li {
      margin-left: 2rem;
    }
  }

  .search-location {
    padding: 0 15rem;
    margin-top: 2rem;

    select {
      border: none;
      outline: none;
      padding: 1rem 1rem;
      font-weight: 600;
      font-size: 1.8rem;
      width: 20rem;
      min-width: 20rem;
      cursor: pointer;
      border-radius: 0.5rem;
    }
  }

  .specialty-list {
    padding: 0 15rem;
    .specialty-item {
      width: 100%;
      min-height: 30rem;
      height: auto;
      display: flex;
      background-color: white;
      margin-top: 2rem;
      box-sizing: border-box;
      border-radius: 0.8rem;
      box-shadow: 0 1px 6px rgb(175, 175, 175);

      .intro {
        width: 50%;
        padding: 1rem 2rem;
        border-right: 1px solid rgb(199, 199, 199);
        .profile-doctor {
          .intro-doctor {
            border-bottom: none;

            .address {
            }
          }
        }
      }
      .schedule {
        width: 50%;
        padding: 1rem 2rem;

        .schedule-infor {
          border-bottom: 1px solid rgb(199, 199, 199);
          .doctor-schedule {
            .select-date {
              select {
                padding: 1rem 2rem 1rem 0rem;
                border: none;
                outline: none;
                font-size: 1.6rem;
                font-weight: 600;
                color: rgb(72, 128, 184);
                border-bottom: 1px solid gray;
              }
            }

            .select-time-list {
              .book-schedule {
                .time-list {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  flex-wrap: wrap;
                  gap: 1rem;

                  .time-item-vi {
                    width: 18rem;
                    min-width: 11rem;
                  }

                  .time-item-en {
                    width: 18rem;
                    min-width: 17rem;
                  }
                }
              }
            }
          }
        }

        .schedule-price {
          margin-top: -5rem;
          .doctor-extra-infor {
            padding: 0;
            border-left: none;
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    height: 30rem;
    border-bottom: 1px solid gray;
  }
}
