.clinic__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.25s linear;
  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .ant-image {
    width: 100%;
    .clinic__card--image {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 4 / 3;
    }
  }
  .clinic__card--bottom {
    width: 100%;
    padding: 15px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .ant-btn {
      width: 100%;
      max-width: 300px;
      margin-top: 20px;
    }
  }
}
