.login__page {
  width: 100vw;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  .ant-image {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .ant-form-item-control-input,
  .ant-form-item-control {
    width: 100%;
  }
  .ant-input-password {
    padding: 0 0;
    padding-right: 10px;
    border-radius: 8px;
    .ant-input {
      width: 100%;
      padding: 8px 15px;
      border-radius: 8px;
    }
  }
  .ant-input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
  }
  .login__form {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-left: 20px;
  }
}
