.blog__item {
  background-color: #eee;
  transition: all 0.25s linear;
  border-radius: 8px;
  overflow: hidden;
  .ant-image {
    width: 100%;
    flex: 1;
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 4 / 3;
    }
  }
  .blog__item--space {
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    height: 170px;
    .blog__item--name {
      font-size: 18px;
      font-weight: bold;
      color: #000;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  }
}
